* {
    font-family: Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
    margin: 0;
}
.main-header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid  gray;
}
#flutter {
    padding-top: 10px;
    padding-left: 50px;
    margin: 0;
    font-size: 2rem;
    color: #848694;
}
.search {
    margin-top: 10px;
    margin-right: 50px;
    padding:4px;
    margin-bottom: 5px;
    border-radius: 15px;
    border-color: #a6c8ec;
    border: 2px solid #a6c8ec;
    background-color: #e9f1fa;
    height: 30px;
    width: 20%;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.profile {
    display: inline-block;
    width: 100%;
    background-color: white;
    max-width: 18rem;
    height: fit-content;
    margin-right: 7px;
}

.profilePic{
    display: flex;
    flex-direction: column;
}

#profileInfo {
    background-color: #e9f1fa;
    height: 3.75rem;
    padding-top: 15px;
    padding-left: 15px;
}
img {
    border-radius: 50%;
    width: 5.25rem;
    height: 5.25rem;
    margin-top: 5px;
    align-self: center;
}

#name{
    display: block;
    padding-top: 10px;
    align-self: center;
    font-size: 20px;
}
.infoText {
    font-size: 0.75rem;
    color: #5a5f65;
}
.infoText:not(:first-child) {
    margin-left:10px;
}
#logoutButton {
    margin-top: 5px;
    margin-right: 25px;
    height: 25px;
    outline: none;
    float: right;
    border-radius: 20px;
    position: relative;
    background-color:#e9f1fa;
    border: 2px solid  #107bfc;
    color: #107bfc;
    border-color: #107bfc;
}
#logoutButton:hover {
    cursor: pointer;
}

.numberText {
    font-size: 1.125rem;
    color: blue;
    margin-left: 5px;
}
.numberText:not(:first-child) {
    margin-left: 50px;
}
/* Left side */

.post{
    max-width: 55rem;
    width: 100%;
    background-color: white;
}
.createPost{
    display: flex;
    background-color: #e9f1fa;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    height: 4rem;
    border-bottom: 1px solid gray;
    margin-right: -50px;
}
#postArea{
    width:80%;
    margin-right: 1.5rem;
    border-radius: 20px;
    border-color: wheat;
    outline: none;
    height: 25px;
}
#postArea::placeholder {
    color: #107bfc;
    font-weight: bold;
}
#secondPicture{
    margin-top: 15px;
    width: 2rem;
    height: 2rem;
    margin-left: 3rem;
    margin-bottom: 5px;
}

.firstPost{
    display:flex;
    border-bottom: 1.5px solid gray;
    padding-bottom: 2rem;
}

.personalInfo{
    padding-top: 1rem;    
    display: flex;
    flex-direction: column;
}

#postedByName{
     margin-top: -5rem;
     margin-left: 1rem;
}
.post-information{
    margin-top: 1.7rem;
    margin-left: 2rem;
}
#agoTime{
    font-size: 16px;
}

.secondPost{
    display:flex;
    border-bottom: 1.5px solid gray;
    padding-bottom: 2rem;
    margin-bottom: 15px;
}

.second-post-information{
    margin-top: 1.7rem;
    margin-left: 2rem;
}
#thirdPictureFirstPost{
    margin-top: -150px;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 3rem;
    margin-bottom: 5px;
}
#thirdPictureSecondPost{
    margin-top: -70px;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 3rem;
    margin-bottom: 5px;
}
#firstDescription{
    font-size: 20px;
}

.like{
    height: 30px;
    width: 30px;
}
.dislike{
    height: 25px;
    width: 25px;
    margin-left: 5rem;
    margin-top: -2.0rem;
}
.likeCount{
    margin-left: 2rem;
    margin-top: -1.4rem;
}
.dislikeCount{
    margin-left : 7rem;
    margin-top: -2.0rem;
}
.secondPostLike{
    height: 30px;
    width: 30px;
}

.secondPostDislike{
    height: 25px;
    width: 25px;
    margin-left: 5rem;
    margin-top: -2.0rem;
}